background-opacity = .35

font-size = 14
window-decoration = false
#cursor-style = underline
mouse-hide-while-typing = true
window-save-state = always
adjust-cell-height = 10%
#maximize = true

### keybinds ###
keybind = ctrl+alt+a=new_tab
keybind = ctrl+alt+z=close_tab:this
keybind = ctrl+shift+s=new_split:right
keybind = ctrl+shift+d=new_split:down
keybind = ctrl+shift+q=close_surface
keybind = ctrl+shift+arrow_right=goto_split:next
keybind = ctrl+shift+arrow_left=goto_split:previous
keybind = ctrl+shift+r=reset
keybind = ctrl+shift+c=copy_to_clipboard
### end keybinds ###


### Theme ###

# cyberdream theme for ghostty
palette = 0=#16181a
palette = 1=#ff6e5e
palette = 2=#5eff6c
palette = 3=#f1ff5e
palette = 4=#5ea1ff
palette = 5=#bd5eff
palette = 6=#5ef1ff
palette = 7=#ffffff
palette = 8=#3c4048
palette = 9=#ff6e5e
palette = 10=#5eff6c
palette = 11=#f1ff5e
palette = 12=#5ea1ff
palette = 13=#bd5eff
palette = 14=#5ef1ff
palette = 15=#ffffff

background = #16181a
foreground = #ffffff
cursor-color = #ffffff
selection-background = #2a2a2a
selection-foreground = #ffffff