background-opacity = .35

### theme block ###
#theme = Ayu
#theme = Desert
theme = "TokyoNight Night"
#theme = Carbonfox
#theme = "Gruvbox Material"
#theme = Hybrid
#theme = Nord
#theme = "Adwaita Dark"
### End Themes ###

font-size = 14
window-decoration = false
#cursor-style = underline
mouse-hide-while-typing = true
window-save-state = always
adjust-cell-height = 10%
maximize = true
selection-background = #2a2a2a
selection-foreground = #f2f4f8

#foreground = #fcfec5
#foreground = #fcfecc
#foreground = #faf0e6
#foreground = #fafad2
cursor-color = #d3d3d3
foreground = #FFFBE8
#background-blur = true
#background-image = /home/sid/.local/share/backgrounds/vagabond.png
#background-image-opacity = 1
#background-image-position = center
#background-image-fit = cover

### keybinds ###
keybind = ctrl+alt+a=new_tab
keybind = ctrl+alt+z=close_tab:this
keybind = ctrl+shift+s=new_split:right
keybind = ctrl+shift+d=new_split:down
keybind = ctrl+shift+q=close_surface
keybind = ctrl+shift+arrow_right=goto_split:next
keybind = ctrl+shift+arrow_left=goto_split:previous
keybind = ctrl+shift+r=reset
keybind = ctrl+shift+c=copy_to_clipboard
### end keybinds ###
