layout {

    border {
        active-color   "#7aa2f7"
        inactive-color "#16161e"
        urgent-color   "#f7768e"
    }

    shadow {
        color "#1a1b2670"
    }

    tab-indicator {
        active-color   "#7aa2f7"
        inactive-color "#444b6a"
        urgent-color   "#f7768e"
    }

    insert-hint {
        color "#7aa2f780"
    }
}

recent-windows {
    highlight {
        active-color "#7aa2f7"
        urgent-color "#f7768e"
    }
}
